/*CSS Reset / Normalize*/
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/
:root{
    /*Insira a variavel das outras cores inspecionando o modelo do figma*/
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
}
body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
    width: 100vw;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/*Neste desafio, gostariamos que praticassem a metodologia BEM, caso seintam a vontade 
de utiliza-la. 

Mas o que é o BEM?

BEM (Block, Element, Modifier) ​​é uma abordagem baseada em componentes para o desenvolvimento
web. A ideia por trás disso é dividir a interface do usuário em blocos independentes.
Isso torna o desenvolvimento de interface fácil e rápido, mesmo com uma interface
de usuário complexa, e permite a reutilização de código existente sem copiar e colar.

Link da documentação oficial!
https://en.bem.info/methodology/quick-start/*/
h2 {
    font-weight: bold;
}

.all{
    width: 80%;
    margin: 1em auto;
}
section{
    margin: 15px auto;
}
/*Sessão Menu*/

section.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}
nav{
    display: flex;
    justify-content: space-around;
}
.menu__list {
    display: inline;
}
.menu__list__item {
    display: inline;
    font-size: 12px;
}

/*Sessão Title*/

section.title{
    display: flex;
}
.title__div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

/*Sessão About*/
section.about{
    background-color: #EAF2FD;
    background-size: 100%;
}
/*Sessão Skills*/
section.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.skills__line {
    display: flex;
    align-items: center;
}
.skills__box {
    margin: 10px 15px;
}
/*Sessão Hobbies*/

section.hobbies{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hobbies__line {
    display: flex;
    align-items: center;
}
.hobbies__box {
    margin: 10px 15px;
}
/* Experiência Acadêmica*/

section.academic{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.academic__courses {
    display: flex;
    align-items: center;
}

/* experiência*/

section.experience{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Contato*/

section.formcontato{
    background-color: #EAF2FD;
}
.formcontato__contacto {
    display: flex;
}

/*footeer*/

section.footer{
    text-align: center;
}

/* Chegou a hora de se desafiar com a responsividade, 
utilize como referência os breakpoints @media abaixo*/

/*Tablet*/
@media (min-width: 768px) {

/* Menu */

/*title*/

/*Skills*/

/*Hobbies*/

/*Experiências acadêmicas*/

/*Expeirência profissional*/

}

/*Mobile*/
@media (min-width: 425px) {

/*Menu*/

/*Titulo*/

/*Sessão sobre*/

/*Skills*/

/*Hobbies*/
 
/*Formação Acadêmica*/

/*Experiência Profissional*/

 /*Contato*/

/*Footer*/

}
